@model FurnitureFactory.Areas.FurnitureFactory.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Filter
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="@Url.Action("Index", "Employee")" method="post">
            LastName: @Html.TextBox("LastName", Model.LastName, new { style = "width: 100px;" })<br>
            FirstName: @Html.TextBox("FirstName", Model.FirstName, new { style = "width: 100px;" })<br>
            MiddleName: @Html.TextBox("MiddleName", Model.MiddleName, new { style = "width: 100px;" })<br>
            Position: @Html.TextBox("Position", Model.Position, new { style = "width: 100px;" })<br>
            Education: @Html.TextBox("Education", Model.Education, new { style = "width: 100px;" })<br>
            <input class="btn btn-primary" type="submit" value="Find"/>
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortField="LastName">
                @Html.DisplayNameFor(model => model.LastName)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="FirstName">
                @Html.DisplayNameFor(model => model.FirstName)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="MiddleName">
                @Html.DisplayNameFor(model => model.MiddleName)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="Position">
                @Html.DisplayNameFor(model => model.Position)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="Education">
                @Html.DisplayNameFor(model => model.Education)
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>