@model FurnitureFactory.Areas.FurnitureFactory.ViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>OrderDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Filter
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="@Url.Action("Index", "OrderDetail")" method="post">
            OrderDate: <input asp-for="@Model.OrderDate" name="OrderDate" type="date" style="width: 100px;"/><br>
            FurnitureName: <input asp-for="@Model.FurnitureName" name="FurnitureName" step="any" style="width: 100px;"/><br>
            Quantity:<input asp-for="@Model.Quantity" name="Quantity" type="number" style="width: 100px;"/><br>
            <input class="btn btn-primary" type="submit" value="Find"/>
        </form>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortField="Quantity">
                @Html.DisplayNameFor(model => model.Quantity)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="Furniture.FurnitureName">
                @Html.DisplayNameFor(model => model.FurnitureName)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortField="Order.OrderDate">
                @Html.DisplayNameFor(model => model.OrderDate)
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furniture.FurnitureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>